.testingBackgroundColor {
    background-color: red;
    width: 50vw; /* Adjusted to viewport width */
    height: 50vh; /* Adjusted to viewport height */
    max-width: 200px; /* Max width for larger screens */
    max-height: 200px; /* Max height for larger screens */
}

.SubscribedCSS, .UnsubscribedCSS {
    display: flex;
    gap: 0.5em; /* Adjusted to em */
    color: black;
    align-items: center;
    flex-direction: row;
}

.ChannelSubscribeSectionButton, .ChannelunSubscribeSectionButton {
    display: flex;
    position: relative;
    top: 3em; /* Adjusted to em */
    font-size: 1.25em; /* Adjusted to em */
    border-radius: 3em; /* Adjusted for consistency */
    padding: 1em; /* Adjusted to em */
    background-color: rgba(235, 235, 235, 0.597);
    text-align: center;
    cursor: pointer;
}

#subscribedCheckMark {
    color: green;
    font-size: 1em; /* Adjusted to em */
    margin-top: 0.2em; /* Adjusted to em */
    height: fit-content;
    padding: 0 0.1em; /* Adjusted to em */
    border-radius: 3em; /* Adjusted for consistency */
}
