.testingBackgroundColor {
    background-color: red;
    width: 200px;
    height: 200px;
}

.SubscribedCSS {
    display: flex;
    gap: 10px;
    color: black;
    align-items: center;
    flex-direction: row;
}
.UnsubscribedCSS {
    display: flex;
    gap: 10px;
    color: black;
    align-items: center;
    flex-direction: row;
}

.ChannelSubscribeSectionButton {
    display: flex;
    position: relative;
    top: 60px;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    background-color: rgba(235, 235, 235, 0.597);
    text-align: center;
    cursor: pointer;
  }
.ChannelunSubscribeSectionButton {
    display: flex;
    position: relative;
    top: 60px;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.871);
    text-align: center;
    cursor: pointer;
  }

  #subscribedCheckMark {
    color: green;
    font-size: 16px;
    margin-top: 2px;
    height: fit-content;
    padding: 0px 1px;
    border-radius: 50px;

}
