.TopNavBarOuter {
    position: sticky;
    width: 100%;
    z-index: 12;
    top: 0
}

.TopNavBarContainer {
    background-color: #181818;
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left section */
.LeftmostContainerTopNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
}

.NavOptionBarsContainer {
 width: fit-content;
 height: fit-content;
 padding: 8px 10px;
 border-radius: 100px;
}

.NavOptionBarsContainer:hover {
    cursor: pointer;
}

.NavOptionBarsContainer:active {
    background-color: rgba(255, 255, 255, 0.504);
}

.NavOptionBars {
    color: white;
}

.NavBarLogoLink {
}

.LogoImageNavBar {
    width: 170px;
    height: 170px;

}

/* middle section */
.MiddleContainerTopNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
    margin-left: 75px;

}

.MiddleContainerInternalTopNav {
    display: flex;
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
}


/* right section */

.RightContainerTopNav {
display: flex;
min-width: 225px;
align-items: center;
justify-content: flex-end;
column-gap: 30px;
}

.UploadCameraNavBar {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.NotificationBellNavBar {
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
cursor: pointer;
}
