.TopNavBarOuter {
    position: fixed;
    width: 100%;
    top: 0
}

.TopNavBarContainer {
    background-color: rgba(88, 88, 88, 0.201);
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
}

/* left section */
.LeftmostContainerTopNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
}

.NavOptionBarsContainer {
 width: fit-content;
 height: fit-content;
 padding: 8px 10px;
 border-radius: 100px;
}

.NavOptionBarsContainer:hover {
    cursor: pointer;
}

.NavOptionBarsContainer: {
    background-color: rgba(255, 255, 255, 0.504);
}

.NavOptionBars {
    color: white;
}

.NavBarLogoLink {
}

.LogoImageNavBar {
width: 70px;
height: 30px;

}

/* middle section */
.MiddleContainerTopNav{

}

.MagnifyingGlassNavBar{

}

.MicrophoneNavBar {

}

/* right section */

.RightContainerTopNav {

}

.UploadCameraNavBar {

}

.NotificationBellNavBar {

}
