.AudioPlayerState {
    /* height: 30.00px; */
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1c1c1cd9;
    /* background-color: red; */
    border-top: 0.1em dotted rgb(23, 23, 23);
    text-align: left;
    padding: 5px;
    padding-right: 0px;
    color: white;
    min-width: 200px;
    margin-bottom: 3px;
    border-radius: 15px;
    z-index: 6;
   }




   .ThumbnailContainerPlaying {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: 45px;
   }

   .songContainerPlayingNow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;

   }


   .SongTitleCardMusicPlayer {
    display: flex;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    flex-wrap: wrap;
    max-height: 45px;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
   .nowPlayingMusicPlayer {
    display: flex;
    color: rgba(204, 204, 204, 0.655);
    font-size: 12px;
    width: 100%;
    max-width: 200px;
    flex-wrap: wrap;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
