.SideNavBarContainer {
    top: 56px;
    position: absolute;
    min-height: 100%;
    width: 240px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow-y: hidden;
}
/* closed state */
.SideNavBarContainerClosed {
    top: 56px;
    position: absolute;
    min-height: 100%;
    width: 100px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow-y: hidden;
}

.InternalSideBarContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: #181818;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: flex-start;
}

.InternalSideBarSectionTop {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: fit-content;
    padding-left: 20px;
    padding-bottom: 20px;
}
.InternalSideBarSectionTopClosed {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: fit-content;
    /* padding-left: 20px; */
    padding-bottom: 20px;
}

.InternalSideBarSection {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: fit-content;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}

.SideNavRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

}
.SideNavRowContainerClosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.SideNavBorderDivContainer {
    display: flex;
    justify-content: center;
width: 100%;
}
.SideNavBorderDiv {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray ;
width: 90%;
}

.SideBarIcon {
    width: 20px;
    /* font-size: 16px; */
    text-align: left;
    text-decoration: none;
    color: white;
}
.SideBarText {
    text-decoration: none;
    color: white;
}




/* side bar scroll */

/* .SideNavBarContainer::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none
  } */


  .SideNavBarContainer:hover {
    overflow-y: scroll;
    overflow-x: hidden;
  }

.showIconSideNavBar {
    color: white;
    font-size: 14px;
}

.ExploreSideBarText {
    font-size: 18px
}


/* subscriptions */

.SubscriptionsSignedOutSideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.channelPictureSideBarSubscriptions {
    height: 40px;
    width: 40px;
    border-radius: 50px;
  object-fit: cover;
}

.ChannelNameSideBar {
    overflow: hidden;
    max-width: 180px;
    text-decoration: none;
    cursor: pointer;
}

.imgsidebarLink {
    text-decoration: none;
    cursor: pointer;
}

.CloseSubscriptionsSection {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: fit-content;
    max-height: 400px;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}

.OpenSubscriptionsButton {
    color: rgb(0, 166, 255);
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
}
