.VideoSingleOuterContainer {
 /* height: 100%; */
 width: 100%;
 display: flex;
 flex-direction: row;
 gap: 40px;
 justify-content: center;
 margin: 0 auto;
}

.SingleVideoContainer {

display: flex;
gap: 10px;
flex-direction: column;
/* width: 850px; */
width: 70%;
justify-content: flex-start;
align-items: flex-start;
}

.VideoPreviewDetails {
    position: relative;
    /* width: 850px;*/
    /* min-height: 500px; */
    /* height: 100%; */
    /* max-height: 800px; */
    width: 100%;
}

@media screen and (min-width: 2200px )  {
    .VideoPreviewDetails {
        height: 800px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2200px){
    .VideoPreviewDetails {
        height: 700px;
    }
}
@media screen and (min-width: 1800px) and (max-width: 2000px){
    .VideoPreviewDetails {
        height: 600px;
    }
}
@media screen  and (max-width: 1800px){
    .VideoPreviewDetails {
        height: 500px;
    }
}

/* video description, title, and subscription information */

.VideoDetailsTitleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    height: fit-content;
}

.VideoDetailsTitle {
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
font-size: 20px;
font-weight: bold;
}

.VideoDetailsContainerSection {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 10px;
    overflow: auto;
}

/* subscription section to likes section */

.SubscribeAndBellSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

.subscribeButtonContainer {
    display: flex;
    align-items: center;
}

.SubscribeButton {
    width: fit-content;
    font-weight: bold;
    color: white;
    background-color: rgba(82, 82, 82, 0.878);
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.notificationBellVideoPlay {
    font-size: 24px;
    cursor: pointer;
}

.LikesSectionVideo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    background-color: rgba(82, 82, 82, 0.878);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 50px;
    min-width: 130px;
}

.LikeVideoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid rgb(32, 32, 32);
}



#blueLike {
    color: rgb(0, 166, 255);
}
#redDislike {
    color: rgb(255, 42, 0);
}


/* end of subcription to likes section */
.profileImageHomeVideoArray {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
}

.VideoDetailsChannelSection{

}


/* description section */
.VideoDetailsDescriptionSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: -12px;
    background-color: rgba(86, 86, 86, 0.426);
    border-radius: 12px;
    width: 95%;
    padding: 15px;
}

#showlessActiveDescription {
    height: 66px;
    overflow: hidden;
}
#showmoreActiveDescription {
    height: fit-content;
    overflow: hidden;
}

.videoDetailsDescriptionTop {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 30px;
    font-size: 16px;
}

.videoDetailsShowMoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.VideoDetailsDescriptionText {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height:24px;
    padding-bottom: 15px;
}
/* tags */

.TagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
    width: 100%
}

.tagSingleContainer:hover {
    cursor: pointer;
    color: white;
    background-color: gray;
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}

.tagSingleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(202, 202, 202, 0.548);
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
/* end of description section */

/* Comments section */


.VideoDetailsCommentsSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* playlist and suggestions section (right side of page) */
.RightSideVideoDetailsSection {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 40px;
}

.RecommendedArraySection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.VideoCardRecommended {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.RecommendedVideoPreview {
    height: 120px;
    width: 190px;
    border-radius: 15px;
}
.OverlayVideoPreviewDetails {
    position: absolute;
    z-index: 2;
    height: 120px;
    width: 190px;
    border-radius: 15px;
}

.RecommendedVideoDetailsSection {
height: 100px;
width: 180px;
}

.RecommendedVideoTitle{
    padding-top: 5px;
height: 40px;
width: 100%;
font-size: 17px;
display: flex;
flex-wrap: wrap;
overflow: hidden;
}

.RecommendedVideoChannelDetails {
    padding-top: 20px;

}


.NotSignedInVideoDetailsComments {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    gap: 20px;
    padding-top: 30px;
}

.CreateAccountRedirectDetails {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;

}


#NoCursor {
    cursor: not-allowed;
}
#noCursor {
    cursor: default;
}


.PointerCursor {
    cursor: pointer;
}

.PlayVideoChannelName{
    text-decoration: none;
    z-index: 4;
}


/* watch later */

.WatchLaterButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding-right: 10px;
}
