.SubscribeVideoSectionButton {
    display: flex;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgba(76, 103, 254, 0.824);
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }


.SubscribedCSS {
    display: flex;
    gap: 0px;
    color: black;
    align-items: center;
    flex-direction: row;
}
.UnsubscribedCSS {
    display: flex;
    gap: 0px;
    color: black;
    align-items: center;
    flex-direction: row;
}

.ChannelVideoSubscribeSectionButton {
    display: flex;
    font-size: 1rem;
    border-radius: 3.125rem;
    padding: 0.75rem;
    background-color: rgba(235, 235, 235, 0.597);
    text-align: center;
    cursor: pointer;
  }
.ChannelVideoUnSubscribeSectionButton {
    display: flex;
    font-size: 1rem;
    border-radius: 3rem;
    padding: 0.9375rem;
    background-color: rgba(255, 255, 255, 0.871);
    text-align: center;
    cursor: pointer;
  }

  #subscribedCheckMark {
    color: green;
    font-size: 16px;
    margin-top: 2px;
    height: fit-content;
    padding: 0px 1px;
    border-radius: 50px;

}
