.SearchBarContainerNav {
    height: 40px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;

}

.SearchBarInternalContainer {
    position: relative;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.SearchBarNav {
height: 40px;
padding-left: 10px;
flex: 1;
background-color: rgba(13, 13, 13, 0.848);
border: none;
border-radius: 40px 0px 0px 40px;

}

.MagnifyingGlassSearchBarContainer {
    border: 1px solid;
    background-color: rgb(62, 62, 62);
    border-radius: 0px 40px 40px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 38px;
    width: 64px;
    margin: 0;
}

.MagnifyingGlassSearchBar {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: gray;
}
