/* TODO Add site wide styles */
html {
    /* height:  100%; */
    min-width: 1800px;
    /* min-height: 1000px; */
    width: 100%;
}
body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    margin:  0;
    background-color: #181818;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
}

#root {
    position: absolute;
    min-height:  100%;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1800px;
}

/* **** */

*{
    font-family: sans-serif;
    /* border: 1px solid red; */
}

/* **** */


.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #1c1c1cd9;
    margin-top: 200px;
    border-top: 0.1em dotted rgba(23, 23, 23, 0.338);
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 50px;
    width: 100%;
    min-width: 1800px;
    color: white;
    }

    footer > * {
      font-size: 16px;
    }
    .footerContainer {
      display: flex;
      flex-direction: column;
    }
    .footer {
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      align-items: center;
      height: 20px;

    }

    .githubIcon {
        width: 30px
        ;
        height: 30px;
        background-color: transparent;
        }
