.CommentsLengthAndSort {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    font-weight: bold;
    font-size: 18px
}

.CommentsLength {
    font-size: 20px
}


.SortedCommentsSection {
display: flex;
gap: 10px;
}

.SortCommentsFavicon {
    position: relative;
    bottom: 5px;
    font-size: 20px;
}

/* create comments section */

.CommentsandRepliesSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.CreateCommentContainer {
    padding-top: 5px;
    display: flex;
    height: 90px;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.CreateCommentForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.CreateCommentBody {
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid gray;
}


/* all comments */
.CommentsSectionAllComments {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.IndividualComments {
    display: flex;
    gap: 20px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.ChannelPictureIndividualComment {
    display: flex;
    height: 100%;
}

/* right side */
.CommentIndividualRightComponent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width:100%;

}

.CommentIndividualUserTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.CommentIndividualFirstName {
font-size: 18px;
font-weight: bold;
}

.CommentIndividualCreatedAt {
    color: rgb(180, 180, 180);
    font-size: 14px;
}

/* comment body */
.CommentIndividualBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* replies section  */

.repliesSection {
    position: relative;
    display: flex;
    gap: 10px;
    left: 60px;
    width: 90%;
}

.ShowReplies {
    color: rgb(0, 166, 255);
    font-weight: normal;
    font-size: 16px;
}

.replyToComments {
    position: relative;
    display: flex;
    gap: 10px;
    left: 60px;
    bottom: 20px;
    width: 90%;
}

.ReplyButtonSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.EditCommentFavicon {
    font-size: 24px;
    cursor: pointer;
    color: rgba(208, 208, 208, 0.778);
  }

  .EditDeleteCommentsSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
