.loginFormContainer {
    flex: 1;
    padding: 10px;
    margin-left: 5%; /* Adjust percentage based on layout needs */
    min-height: 100%;
    display: flex;
    color: white;
}

.outerLoginForm {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 3.5em; /* Using em for padding */
}

.innerLoginForm {
    display: flex;
    flex-direction: row;
    max-width: 90%; /* Use max-width for better control */
    min-width: 300px; /* Minimum width to maintain form structure */
    height: auto; /* Auto height for content flexibility */
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
    padding: 3.5em; /* Using em for padding */
    border: 1px solid gray;
    border-radius: 3em; /* Adjusted for proportionality */
}

.LoginFormDiv {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em; /* Using em for consistent spacing */
    align-items: center;
}

/* logo */
.loginLogo {
    width: 10vw; /* Adjusted to viewport width */
    height: 5vw; /* Adjusted to viewport width */
    max-width: 125px; /* Max width to prevent over-scaling */
    max-height: 75px; /* Max height to prevent over-scaling */
}

.SignupInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem; /* Using rem for font sizes */
    row-gap: 1em;
}

#loginInput {
    font-size: 1.125rem;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    color: #202124;
}

/* submit */
.SubmitLoginFormDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.CreateAccountRedirect {
    color: #1a73e8;
    text-decoration: none;
    font-size: 1rem;
}

.DemoLoginButton {
    display: flex;
    align-items: flex-start;
}

.SubmitDemoLoginButton {
    background: none;
    width: fit-content;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
    border-radius: 3em;
    border: 1px solid rgba(233, 233, 233, 0.566);
    padding: 0.5em 1em;
}
