.loginFormContainer {
  flex: 1;
  padding: 10px;
  margin-left: 5%; /* Adjusted to percentage */
  min-height: 100%;
  display: flex;
  color: white;
}

.outerLoginForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 3em; /* Changed to em */
}

.innerSignupForm {
  display: flex;
  flex-direction: row;
  max-width: 90%; /* Adjusted to max-width */
  min-width: 300px; /* Minimum width for form structure */
  height: auto; /* Height set to auto for flexibility */
  justify-content: center;
  align-items: flex-start;
  padding: 3em; /* Changed to em */
  border: 1px solid gray;
  border-radius: 3em; /* Adjusted for proportionality */
}

.LoginFormDiv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5em; /* Changed to em */
  align-items: center;
}

.ErrorLoginSection {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em; /* Adjusted to em */
  text-align: center;
  width: 100%;
  color: red;
  font-size: 1.125rem; /* Changed to rem */
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.SignupInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em; /* Adjusted to em */
}

#signupInput {
  font-size: 1rem; /* Changed to rem */
  width: 100%;
  padding: 0.5em; /* Adjusted to em */
  height: 2em; /* Adjusted to em */
  border-radius: 0.5em; /* Adjusted to em */
  color: #202124;
}

/* submit */
.SubmitSignupFormDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem; /* Changed to rem */
}

.CreateAccountRedirect {
  color: #1a73e8;
  font-size: 1.125rem; /* Changed to rem */
  text-decoration: none;
}
