.homeContainer {
    flex: 1;
    padding: 10px;
    margin-left: 272px;
    min-height: 100%;
    display: flex;
    color: white;
}

.homeContainerInner {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.homeTagsBar {
    position: sticky;
}
