.homeContainer {
    flex: 1;
    padding: 30px;
    margin-left: 302px;
    min-height: 100%;
    display: flex;
    color: white;
}
.homeContainerClosed {
    flex: 1;
    padding: 30px;
    margin-left: 152px;
    min-height: 100%;
    display: flex;
    color: white;
}

.homeContainerInner {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.VideosMapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    row-gap: 30px;
    column-gap: 50px;
}
.VideoCardHome {
    height: 300px;
}

.VideoPreviewHome {
    height: 190px;
    width: 300px;
    border-radius: 50px;
    cursor: pointer;
}

.HomeVideoCardBottomSection {
    width: 300px;
    height: 100px;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.profileImageHomeVideoArray {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
}

.channelPictureHomeArray {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

/* right side channel section */
.HomeVideoArrayChannelDetails {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.VideoTitleCard {
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
    height: 38px;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
}


.ChannelDetailsContainerHomeVideoArray {
    display: flex;
    flex-direction: column;
}


#ChannelNameHomeArray {
 gap: 10px;
}

#verifiedCheckMark {
    color: green;
    background-color: white;
    font-size: 12px;
    margin-top: 2px;
    height: fit-content;
    padding: 0px 1px;
    border-radius: 50px;

}

#homeArrayChannelDetails {
    display: flex;
    gap: 5px;
    color: rgb(214, 213, 213);

}

#homeArrayChannelViews {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.CircleDiv {
    height: 3px;
    width: 3px;
    border-radius: 50px;
    background-color: rgb(214, 213, 213);
}


/* top tags bar */
.homeTagsBarContainer {
    position: relative;
    bottom: 15px;
    width: 100%;
    height: 100%;
}
.homeTagsBar {
    position: sticky;
    display: flex;
    gap: 20px;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    height: 100%
}

.tagHomePageActive {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    width: fit-content;
    border-radius: 15px;
}
.tagHomePage {
    color: white;
    background-color: rgba(85, 85, 85, 0.596);
    padding: 10px 10px;
    width: fit-content;
    border-radius: 15px;
}
