.HootubeSongArrayHomeArtist {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.3125rem;
}

.SongPreviewHome {
    height: 11.875rem;
    width: 18.75rem;
    border-radius: 3.125rem;
}

.SongTitleCardHome {
    display: flex;
    width: 100%;
    max-width: 18.75rem;
    flex-wrap: wrap;
    max-height: 2.375rem;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.OverlaySongPreviewHome {
    position: absolute;
    z-index: 2;
    height: 12rem;
    width: 18.875rem;
    border-radius: 0.9375rem;
    /* background-color: red; */
    cursor: pointer;
}

/* play pauseButton */

.SongPlayButtonHover {
    display: none;
}

.OverlaySongPreviewHome:hover .SongPlayButtonHover {
    font-size: 4.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.615);
}

.SongPlayButtonHover .backgroundCircleSongPlay {
    font-size: 2.25rem;
    color: white;
    position: absolute;
    z-index: 2;
}

#CircleBackgroundHover .backgroundCircleSongPlay:hover {
    font-size: 5.25rem;
    color: rgba(0, 0, 0, 0.794);
}
.CircleContainerPlaySongHover:hover .backgroundCircleSongPlay{
    font-size: 5.25rem;
    color: rgba(0, 0, 0, 0.794);
}

.CircleContainerPlaySongHover:hover #playSongButtonHover {
    font-size: 3rem;
    color: white;
}


/* pauseButton */

.SongPauseButton {
    font-size: 4.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.615);
}

.SongPauseButton .backgroundCircleSongPlay {
    font-size: 2.25rem;
    color: white;
    position: absolute;
    z-index: 2;
}

#CircleBackgroundHover .backgroundCircleSongPlay:hover {
    font-size: 5.25rem;
    color: rgba(0, 0, 0, 0.794);
}
.CircleContainerPlaySongHover:hover .backgroundCircleSongPlay{
    font-size: 5.25rem;
    color: rgba(0, 0, 0, 0.794);
}

.CircleContainerPlaySongHover:hover #playSongButtonHover {
    font-size: 3rem;
    color: white;
}
