.HootubeSongArrayHomeArtist {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.SongPreviewHome {
    height: 190px;
    width: 300px;
    border-radius: 50px;
}

.SongTitleCardHome {
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
    max-height: 38px;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.OverlaySongPreviewHome {
    position: absolute;
    z-index: 2;
    height: 192px;
    width: 302px;
    border-radius: 15px;
    /* background-color: red; */
    cursor: pointer;
}
