
.EditUser-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    height: 100%;
    width: 100%;
}


.edit-user-containerinner {
    display: flex;
    gap: 10px;
}

.Edit-User-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.EditUserHeaderTop{
    text-align: center;
}
.EditUserHeader {
    font-size: 16px;

}

.errorHandlingContainer {
color: red;
list-style: none;
display: flex;
gap: 10px;
}

.HeaderErrorStyling{
    list-style: none;

}

.ImageUlBulletErrorStyling{
    list-style: none;
    display: flex;
    flex-direction: column;
gap: 10px;

}

.ImageErrorPoints {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.EditUserHeader {
    font-size: 20px;
}

.preview-image-input{
    font-size: 16px;

}



.done-edit-container{

}

.done-edit-bttn {

}

#done-edit-cancel-bttn {

}

#statement, #assurance {
    font-weight: 300;
}

.deleteImageButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}



.deleteImageButtons button.submitDeleteImage {
    color: white;
    background-color: #348fdc;
    padding: .5rem 1rem;
    margin-top: .5rem;
    border-radius: .3rem;
    border: none;
    font-size: 1rem;
    width: 8rem
}

.deleteImageButtons button.cancelDeleteImage {
    color: white;
    background-color: #979ea2;
    padding: .5rem 1rem;
    margin-top: .5rem;
    border-radius: .3rem;
    border: none;
    font-size: 1rem;
    width: 8rem
}

.deleteImageButtons button:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.1);
}

.deleteImageButtons button:active {
    opacity: .8;
    cursor: pointer;
    transform: scale(.98);
}

#edit-channel-input {
    width: 500px;
}
